@import 'styles';

.Header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $GRAY_200;
  @include media($SCREEN_TABLET_SMALL) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include media($SCREEN_DESKTOP) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.Container {
  @include flex(space-between, center);
}

// LOGO

.Logo {
  @include flex(flex-start, center);

  &__img {
    @include size(40px);
    margin-right: 15px;
  }

  &__wrapper {
    &_title {
      @include text(rem(20), 700, $BLACK);
      text-transform: uppercase;
    }

    &_descr {
      font-family: $SECOND_FONT;
      @include text(rem(14), 400, $GRAY_400);
    }
  }
}

// PANEL
.Panel {
  @include flex(flex-start, center);
  column-gap: 15px;
  @include media($SCREEN_DESKTOP) {
    column-gap: 30px;
  }

  &__link {
    @include flex(flex-start, center);
    cursor: pointer;

    &:hover &_icon {
      fill: $ROSE_500;
    }

    &_price {
      font-family: $SECOND_FONT;
      @include text(rem(16), 400, $GRAY_600);
      margin-left: 10px;
    }

    &_icon {
      @include size(18px);
      fill: $GRAY_500;
      @include transition(fill);
    }
  }
}
